.idea
composer.phar
clover.xml
coveralls-upload.json
phpunit.xml
vendor/
nbproject/
mysql-data/
docs/swagger/swagger.json
docs/database/mysql/password-cockpit.mwb.bak
upload/*
!upload/.gitkeep
config/development.config.php
config/local.php
config/*.local.php
config/autoload/*.local.php
data/