<?php

return [
    'authentication' => [
        'secret_key' => getenv('PASSWORDCOCKPIT_AUTHENTICATION_SECRET_KEY'),
        'secure' => false
    ],
    'dependencies' => [
        'factories' => [
            Laminas\Authentication\Adapter\AdapterInterface::class =>
                Authentication\Api\V1\Factory\Adapter\LdapAdapterFactory::class
        ]
    ]
];
