<?php
return [
    'client_address' => [
        'address' => (getenv('PASSWORDCOCKPIT_CLIENT_ADDRESS') === false ? getenv('PASSWORDCOCKPIT_BASEHOST') : getenv('PASSWORDCOCKPIT_CLIENT_ADDRESS'))
    ]
];
