<?php
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'url' =>
                        'mysql://'.getenv('PASSWORDCOCKPIT_DATABASE_USERNAME').':'.getenv('PASSWORDCOCKPIT_DATABASE_PASSWORD').'@'.getenv('PASSWORDCOCKPIT_DATABASE_HOSTNAME').'/'.getenv('PASSWORDCOCKPIT_DATABASE_DATABASE')
                ]
            ]
        ]
    ]
];
